@model TRWLASystemMaster.Models.Student

@{
    ViewBag.Title = "ConfirmAttendance";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<h2>Confirm Attendance of @Html.DisplayFor(p => p.Student_Name)</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Student Number:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>

        <dt>
            @Html.Label("Name:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Name)
        </dd>

        <dt>
            @Html.Label("Surname:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Surname)
        </dd>

        <dt>
            @Html.Label("Residence:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residence.Res_Name)
        </dd>

        <dt>
            @Html.Label("Graduate:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate)
        </dd>

        <dt>
            @Html.Label("Degree:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

        <dt>
            @Html.Label("Year of Study:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfStudy)
        </dd>


        <dt>
            @Html.Label("Date of Birth:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_DoB)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Log Attendance" class="btn btn-default" />
        </div>
    </div>
}

