@model TRWLASystemMaster.Models.TRWLASchedule

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h2>Update this Event</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (Model.LectureID != null)
    {
        <div class="form-horizontal" style="margin-bottom:100px; display:inline-block; width:50%;">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="margin-bottom:10px;">
                @Html.Label("Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10 ">
                    @Html.TextBoxFor(model => model.Lecture.Lecture_Name, new { maxlength = 30, @class = "form-control form-control-danger" })
                    @Html.ValidationMessageFor(model => model.Lecture.Lecture_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("Time", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Lecture.Lecture_StartTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Lecture.Lecture_StartTime, "", new { @class = "text-danger" })
                </div>


                @Html.Label("-", new { @class = "control-label col-md-2", @style = "margin-left: -80px; margin-right: -10px;" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Lecture.Lecture_EndTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Lecture.Lecture_EndTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Date", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Lecture.Lecture_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Lecture.Lecture_Date, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.Label("Venue", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("VenueID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.VenueID, "", new { @class = "text-danger" })
                        @Html.ActionLink("Add Venue", "Index", "Events", new { @style = "margin-top:10px; text-align:center; margin-left:25px;" })
                    </div>
                </div>*@

            <div class="form-group">
                @Html.Label("Content", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ContentID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Lecture.ContentID, "", new { @class = "text-danger" })
                    <div style="margin-left:20px;">
                        @Html.ActionLink("Upload Content", "Create", "Contents")
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Theme", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Lecture.Lecture_Theme, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Lecture.Lecture_Theme, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Residence", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ResidenceID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Lecture.ResidenceID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Summary", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Lecture.Lecture_Summary, new { maxlength = 100, @class = "form-control", @style = "border: 1px solid #E3E3E3; border-radius:30px; color: #2c2c2c; width:280px;" })
                    @Html.ValidationMessageFor(model => model.Lecture.Lecture_Summary, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Description", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Lecture.Lecture_Description, new { maxlength = 300, @class = "form-control", @style = "border: 1px solid #E3E3E3; border-radius:30px; color: #2c2c2c; width:280px; height:200px;" })
                    @Html.ValidationMessageFor(model => model.Lecture.Lecture_Description, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update Event" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    if (Model.FunctionID != null)
    {
        <div class="form-horizontal" style="margin-bottom:100px; display:inline-block; width:50%;">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="margin-bottom:10px;">
                @Html.Label("Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10 ">
                    @Html.TextBoxFor(model => model.FunctionEvent.Function_Name, new { maxlength = 30, @class = "form-control form-control-danger" })
                    @Html.ValidationMessageFor(model => model.FunctionEvent.Function_Name, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.Label("Guest Speaker", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("GuestSpeakerID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FunctionEvent.GuestSpeakerID, "", new { @class = "text-danger" })
                    <div style="margin-top:10px; margin-left:10px;">
                        @Html.ActionLink("Register Guest Speaker", "Create", "GuestSpeakers")
                    </div>
                </div>
            </div>

            <div class="radio" style="margin-bottom:10px; margin-left:80px;">
                <input type="radio" name="radio1" id="radio1" value="option1">
                <label for="radio1">
                    Accepted Inviation
                </label>
            </div>
            <div class="radio" style="margin-bottom:10px; margin-left:80px;">
                <input type="radio" name="radio1" id="radio2" value="option2" checked="">
                <label for="radio2">
                    Rejected Invitation
                </label>
            </div>


            <div class="form-group">
                @Html.Label("Date", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FunctionEvent.Function_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FunctionEvent.Function_Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("Time", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.FunctionEvent.Function_StartTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FunctionEvent.Function_StartTime, "", new { @class = "text-danger" })
                </div>


                @Html.Label("-", new { @class = "control-label col-md-2", @style = "margin-left: -80px; margin-right: -10px;" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.FunctionEvent.Function_EndTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FunctionEvent.Function_EndTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Theme", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FunctionEvent.Function_Theme, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FunctionEvent.Function_Theme, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Venue", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("VenueID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FunctionEvent.VenueID, "", new { @class = "text-danger" })
                    @Html.ActionLink("Add Venue", "Index", "Events", new { @style = "margin-top:10px; text-align:center; margin-left:25px;" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Summary", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.FunctionEvent.Function_Summary, new { maxlength = 100, @class = "form-control", @style = "border: 1px solid #E3E3E3; border-radius:30px; color: #2c2c2c; width:280px;" })
                    @Html.ValidationMessageFor(model => model.FunctionEvent.Function_Summary, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Description", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.FunctionEvent.Function_Description, new { maxlength = 300, @class = "form-control", @style = "border: 1px solid #E3E3E3; border-radius:30px; color: #2c2c2c; width:280px; height:200px;" })
                    @Html.ValidationMessageFor(model => model.FunctionEvent.Function_Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    if (Model.ComEngID != null)
    {
        <div class="form-horizontal" style="margin-bottom:100px; display:inline-block; width:50%;">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="margin-bottom:10px;">
                @Html.Label("Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10 ">
                    @Html.TextBoxFor(model => model.ComEngEvent.ComEng_Name, new { maxlength = 30, @class = "form-control form-control-danger" })
                    @Html.ValidationMessageFor(model => model.ComEngEvent.ComEng_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("Time", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ComEngEvent.ComEnge_StartTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ComEngEvent.ComEnge_StartTime, "", new { @class = "text-danger" })
                </div>


                @Html.Label("-", new { @class = "control-label col-md-2", @style = "margin-left: -80px; margin-right: -10px;" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ComEngEvent.ComEng_EndTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ComEngEvent.ComEng_EndTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Date", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ComEngEvent.ComEng_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ComEngEvent.ComEng_Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Venue", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("VenueID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ComEngEvent.VenueID, "", new { @class = "text-danger" })
                    @Html.ActionLink("Add Venue", "Index", "Events", new { @style = "margin-top:10px; text-align:center; margin-left:25px;" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Content", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ContentID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ComEngEvent.ContentID, "", new { @class = "text-danger" })
                    <div style="margin-left:20px;">
                        @Html.ActionLink("Upload Content", "Create", "Contents")
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Theme", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ComEngEvent.ComEng_Theme, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ComEngEvent.ComEng_Theme, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.Label("Residence", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ResidenceID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ResidenceID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                @Html.Label("Summary", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ComEngEvent.ComEng_Summary, new { maxlength = 100, @class = "form-control", @style = "border: 1px solid #E3E3E3; border-radius:30px; color: #2c2c2c; width:280px;" })
                    @Html.ValidationMessageFor(model => model.ComEngEvent.ComEng_Summary, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Description", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ComEngEvent.ComEng_Description, new { maxlength = 300, @class = "form-control", @style = "border: 1px solid #E3E3E3; border-radius:30px; color: #2c2c2c; width:280px; height:200px;" })
                    @Html.ValidationMessageFor(model => model.ComEngEvent.ComEng_Description, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update Event" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>