
@{
    ViewBag.Title = "EventType";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}
@{
    ViewBag.Title = "EventType";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron" style="margin-bottom:50px;">
    <h1>Event Type</h1>
    <h4>Choose an Event Type</h4>
    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>
<div class="row">
    <div style="width:50%; height:175px; z-index:100; margin-bottom: 100px; background-color:transparent; margin:auto;">
        <h2 style="z-index:100; position:relative; background-color:transparent;">Function</h2>
        <p>
            <strong>About:</strong>
            These events are aimed at events where Guest Speakers come to provide inspirational and motivational messages to the girls of TRWLA. Also, this Event Type caters to all events that fall outside of the norm
            the events held at TRWLA.
        </p>
        <div data-toggle="tooltip" title="Create a Function Event">
            <button style="float:right;  margin:auto;font-weight:bold; " type="button" class="btn" onclick="location.href='@Url.Action("Create", "FunctionEvents")'"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>

    </div>

    <div style="width:50%; height:175px; z-index:100; margin-bottom: 100px; background-color:transparent; margin:auto;">
        <h2>Community Engagement</h2>
        <p>
            <strong>About:</strong>These events focus on giving back to the community in the best way possible: By sending the students out there to make a difference and empower woman accross our community
            by giving them skills they otherwise would not have!
        </p>
        <div data-toggle="tooltip" title="Create a Community Engagement Event">
            <button  style="float:right; margin:auto;font-weight:bold;" type="button" class="btn" onclick="location.href='@Url.Action("Create", "ComEngEvents")'"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
    </div>

    <div style="width:50%; height:175px; z-index:100; margin-bottom: 100px; background-color:transparent; margin:auto;">

        <h2 style="z-index:100; position:relative; background-color:transparent;">Lecture</h2>
        <p style="z-index:100; position:relative; background-color:transparent;"><strong>About:</strong> These types of events focus on the pure content sessions between facilitators and the students that live at the residences. It helps the student gain knowledge about the certification and TRWLA</p>
        <div data-toggle="tooltip" title="Create a Lecture Event">
            <button  style="float:right;  margin:auto;font-weight:bold;" type="button" class="btn" onclick="location.href='@Url.Action("Create", "Lectures")'"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
    </div>

    <div style="width:50%; height:175px; z-index:100; margin-bottom: 100px; background-color:transparent; margin:auto;">
        <h2 style="z-index:100; position:relative; background-color:transparent;">General</h2>
        <p style="z-index:100; position:relative; background-color:transparent;"><strong>About:</strong> When none of the events match what you are looking for, then this is the event for you. These events cater for the graduation ceremony and events open to the general public.</p>
        <div data-toggle="tooltip" title="Create a General Event">
            <button  style="float:right; margin:auto;font-weight:bold;" type="button" class="btn" onclick="location.href='@Url.Action("Create", "GenEvents")'"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
    </div>
</div>

<div style="float:right; margin-bottom:20px; margin-top:50px;" data-toggle="tooltip" title="Return to the Main Menu">
    <button  type="button" style="float:right;" class="btn" onclick="location.href='@Url.Action("Index", "TRWLASchedules")'"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
</div>
