@model TRWLASystemMaster.Models.DB.EventMessage

@{
    ViewBag.Title = "SendNotification";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h1>Write Notification</h1>
    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Label("Notification Text", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Msg , new { maxlength = 300, @class = "form-control", @style = "border: 1px solid #E3E3E3; width:500px; height:200px;" })
            @Html.ValidationMessageFor(model => model.Msg, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Send Notification</h4>
                </div>
                <div class="modal-body">
                    Are you sure that you want to send this notification?
                </div>
                <div class="modal-footer form-inline">
                        <div class="form-actions no-color form-group">
                            <button type="submit" value="SendNotification" class="btn">Send Notification</button>
                        </div>
                    <div class="form-group">
                        <button type="button" class="btn" data-dismiss="modal">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<div class="form-inline" style="float:right; margin-bottom:20px; margin-top:10px;">
    <div class="form-group">
        <div style="margin-right:5px;">
            <button class="btn btn-default" data-toggle="modal" data-target="#Delete">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <button data-toggle="tooltip" title="Return to Recipient Selection" type="button" class="btn" onclick="location.href='@Url.Action("SelectRecip")'"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
