@model TRWLASystemMaster.Models.DB.FunctionEvent

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h2>Update @Html.DisplayFor(model => model.Function_Name)</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.FunctionID)

    <div class="form-horizontal">
        <div class="form-horizontal" style="margin-bottom:100px; display:inline-block; width:50%;">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="margin-bottom:10px;">
                @Html.Label("Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10 ">
                    @Html.TextBoxFor(model => model.Function_Name, new { maxlength = 30, @class = "form-control form-control-danger" })
                    @Html.ValidationMessageFor(model => model.Function_Name, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.Label("Guest Speaker", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("GuestSpeakerID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GuestSpeakerID, "", new { @class = "text-danger" })
                    <div style="margin-top:10px; margin-left:10px;">
                        @Html.ActionLink("Register Guest Speaker", "Create", "GuestSpeakers")
                    </div>
                </div>
            </div>



            <div class="form-group">
                @Html.Label("Date", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Function_Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.Function_Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Time", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Function_StartTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                    @Html.ValidationMessageFor(model => model.Function_StartTime, "", new { @class = "text-danger" })
                </div>
                </div>

            <div class="form-group">
                @Html.Label("End Time:", new { @class = "control-label col-md-2}" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Function_EndTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                    @Html.ValidationMessageFor(model => model.Function_EndTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Theme", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Function_Theme, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Function_Theme, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Venue", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("VenueID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VenueID, "", new { @class = "text-danger" })
                    @Html.ActionLink("Add Venue", "Index", "Events", new { @style = "margin-top:10px; text-align:center; margin-left:25px;" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Summary", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Function_Summary, new { maxlength = 100, @class = "form-control", @style = "border: 1px solid #E3E3E3; color: #2c2c2c; width:280px;" })
                    @Html.ValidationMessageFor(model => model.Function_Summary, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Description", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Function_Description, new { maxlength = 300, @class = "form-control", @style = "border: 1px solid #E3E3E3;  color: #2c2c2c; width:280px; height:200px;" })
                    @Html.ValidationMessageFor(model => model.Function_Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="modal fade" id="Create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Update Event</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure that you want to update this event?
                    </div>
                    <div class="modal-footer form-inline">
                        <div class="form-actions no-color ">
                            <button data-toggle="tooltip" title="Update Event" type="submit" value="Create" class="btn">Confirm</button>
                        </div>
                        <button data-toggle="tooltip" title="Make Changes" type="button" class="btn" data-dismiss="modal">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        }

        <div class="form-inline" style="float:right; margin-bottom:10px; margin-top:10px;">
            <div class="form-group">
                <div style="margin-right:5px;">
                    <button class="btn btn-default" data-toggle="modal" data-target="#Create">
                        Update Event
                    </button>
                </div>
            </div>
            <div class="form-group">
                <button data-toggle="tooltip" title="Return to the Main Menu" type="button" class="btn" onclick="location.href='@Url.Action("Index", "GuestSpeaker")'">Return</button>
            </div>
        </div>