@model TRWLASystemMaster.Models.DB.StudentType

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}


<div class="jumbotron">
    <h1>Create a New Student Type</h1>
    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2"> Description</label>   @*@Html.LabelFor(model => model.StudentTypeDescription, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentTypeDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentTypeDescription, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-inline" style="float:right; margin-bottom:20px; margin-top:60px;">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div>
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "StudentTypes")'">Return</button>
                    </div>
                </div>
            </div>
        </div>


    </div>



}
<div class="form-inline" style="float:right; margin-bottom:20px; margin-top:60px;">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                <input type="submit" value="Create" class="btn btn-default" />



            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}