@model TRWLASystemMaster.Models.ViewModel.UserSignUpView
@{
//ViewBag.Title = "Register";
}

<div class="jumbotron">
    <h1>Student Registration</h1>
    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Username:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LoginName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Password:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Name:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Surname:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Student Number:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.StudentNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StudentNumber, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.Label("Email:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Phone Number:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Phonenumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Phonenumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Date of Birth:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.DoB, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(m => m.DoB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Academic Commencement Date:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.YearOfStudy, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(m => m.YearOfStudy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Degree:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Degree, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Degree, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Residence:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ResID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ResID, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.Label("Take a Photo:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <button type="button" class="btn" onclick="location.href='@Url.Action("CameraBooth", "Account")'"><i class="fa fa-camera" aria-hidden="true"></i></button>
            </div>

        </div>*@
        <div class="form-inline" style="float:right; margin-bottom:20px; margin-top:60px;">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div>
                        <input type="submit" class="btn btn-default " @*data-toggle="modal" data-target="#myModal"*@ value="Register" />
                    </div>
                </div>
            </div>
        </div>


    </div>



}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
