@model TRWLASystemMaster.Models.DB.GenEvent

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h1>General Event</h1>
    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Name:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gen_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gen_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Summary", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gen_Summary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gen_Summary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Description:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gen_Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gen_Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Date:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gen_Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.Gen_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Start Time:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gen_StartTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                @Html.ValidationMessageFor(model => model.Gen_StartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("End Time:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gen_EndTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                @Html.ValidationMessageFor(model => model.Gen_EndTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Theme:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gene_Theme, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gene_Theme, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.Label("Venue:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-inline">
                    <div class="form-group">
                        @Html.DropDownList("VenueID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.VenueID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" style="margin-left:30px;">
                        <p>Exclude: @Html.RadioButtonFor(model => model.VenueID, @TempData["Venue"] = 1)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Residence:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-inline">
                    <div class="form-group">
                        @Html.DropDownList("ResID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ResID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" style="margin-left:30px;">
                        <p>Exclude: @Html.RadioButtonFor(model => model.ResID, @TempData["Res"] = 1)</p> 
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Content:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-inline">
                    <div class="form-group">
                        @Html.DropDownList("ContentID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ContentID, "", new { @class = "text-danger" })
                    </div>
                    <div style="margin-left:30px;" class="form-group">
                        <p>Exclude: @Html.RadioButtonFor(model => model.ContentID, @TempData["Con"] = 1)</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Guest Speaker:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-inline">
                    <div class="form-group">
                        @Html.DropDownList("GuestSpeakerID", null, htmlAttributes: new { @class = "form-control", @id = "gudrop" })
                        @Html.ValidationMessageFor(model => model.GuestSpeakerID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" style="margin-left:30px;">
                        <p>Exclude: @Html.RadioButtonFor(model => model.GuestSpeakerID, @TempData["Gu"] = 1)</p>
                        <input type="radio" id="Gu" onclick="doNavigate()" />
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(document).ready(function () {
        if ($("#gu").prop("checked")) {
            alert("it's checked");
        }
    });

    function doNavigate() {
        $.ajax({
            url: "GetEventsController/GU", // or <%=Url helper method can't remember
            type: "POST",
            dataType: "json",

            complete: function () {
                alert("it's checked");
            },

            success: function (data) {
                alert("it's checked");
            },

            error: function () {
                alert("it failed");
            },
        });



    };
</script>