@model TRWLASystemMaster.Models.DB.GenEvent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GenEvent</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gen_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gen_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gen_Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gen_Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gen_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gen_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gen_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gen_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gen_StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gen_StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gen_EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gen_EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gene_Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gene_Theme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content.Content_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content.Content_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestSpeaker.GuestSpeaker_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestSpeaker.GuestSpeaker_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residence.Res_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residence.Res_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue.Venue_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue.Venue_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GenID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
