@model TRWLASystemMaster.Models.Student

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_DoB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_DoB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residence.Res_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residence.Res_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendance.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RSVP_Event.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RSVP_Event.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentType.StudentTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentType.StudentTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserType.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
