@model IEnumerable<TRWLASystemMaster.Models.DB.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}



<div class="jumbotron">

    <h2>Students - Home</h2>

</div>

<button type="button" class="btn" onclick="location.href='@Url.Action("Index", "StudentTypes")'">View Student Types</button>

<hr />
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Student Number     @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Graduate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
         Academic Commencement Date   @*@Html.DisplayNameFor(model => model.YearOfStudy)*@
        </th>
        <th>
           Student Name @*@Html.DisplayNameFor(model => model.Student_Name)*@
        </th>
        <th>
          Student Surname  @*@Html.DisplayNameFor(model => model.Student_Surname)*@
        </th>
        <th>
          Phone Number  @*@Html.DisplayNameFor(model => model.Student_Phone)*@
        </th>
        <th>
          DoB  @*@Html.DisplayNameFor(model => model.Student_DoB)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </th>*@
        <th>
          Residence  @*@Html.DisplayNameFor(model => model.Residence.Res_Name)*@
        </th>
        <th>
         Student Type   @*@Html.DisplayNameFor(model => model.StudentType.StudentTypeDescription)*@
        </th>
        <th>
        User Type    @*@Html.DisplayNameFor(model => model.UserType.Description)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentNumber)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Graduate)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOfStudy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_DoB)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ActiveStatus)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Residence.Res_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentType.StudentTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType.Description)
        </td>
        <td>
            @*<a href="@Url.Action("Edit", new { id=item.StudentID })" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>*@ 
            <a href="@Url.Action("Details", new { id=item.StudentID })" data-toggle="tooltip" title="Details"><i class="fa fa-info-circle" aria-hidden="true"></i></a> 
            @*<a href="@Url.Action("Delete", new { id=item.StudentID })" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>*@ 
        </td>
    </tr>
}

</table>
