@model IEnumerable<TRWLASystemMaster.Models.Usertype.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}


<div class="jumbotron">
    <h2>Students</h2>

</div>
@*<p>
    @Html.ActionLink("Register a new Student", "Create")
</p>*@

@* Search Button for Stundent Degree'*@
@using (Html.BeginForm())
{
    <p>
        Find by Name: @*@Html.TextBox("SearchStringS")*@ <input style="border-radius:4px; width:300px; color:black; border-color:white" />
        <input type="submit"class="btn btn-default btn-round" style="color:#9b16d8" value="Search" />
    </p>
}


<table class="table">
    <tr>
        <th>
            Name @*@Html.DisplayNameFor(model => model.AccessRight)*@
        </th>
        <th>
            Surnmae @*@Html.DisplayNameFor(model => model.Person.FirstName)*@
        </th>
        <th>
            Phone Number @*@Html.DisplayNameFor(model => model.Residence1.ResName)*@
        </th>
        <th>
            Email Address   @*@Html.DisplayNameFor(model => model.VolunteerType1.Description)*@
        </th>
        <th>
            Date of Birth   @*@Html.DisplayNameFor(model => model.VolunteerType1.Description)*@
        </th>
        <th>
            Student Type   @*@Html.DisplayNameFor(model => model.VolunteerType1.Description)*@
        </th>
        <th>
            Residence   @*@Html.DisplayNameFor(model => model.VolunteerType1.Description)*@
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {*@
    <tr>

        <td>
            Enguhla @*@Html.DisplayFor(modelItem => item.AccessRight)*@
        </td>
        <td>
           Phebve @*@Html.DisplayFor(modelItem => item.Person.FirstName)*@
        </td>
        <td>
            0781980322   @*@Html.DisplayFor(modelItem => item.Residence1.ResName)*@
        </td>
        <td>
           enguhla@tuks.co.za   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            10/09/1993   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Post Graduate @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Erika @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.StudentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Graduate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOfStudy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Residence1.ResName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentType1.Description)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.PersonID }) |*@
            @*@Html.ActionLink("Details", "Details"@*new { id=item.PersonID }*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.PersonID })*@
        </td>
    </tr>


    @* rECORD 2 *@
    <tr>

        <td>
            Caira @*@Html.DisplayFor(modelItem => item.AccessRight)*@
        </td>
        <td>
            Milkbottom @*@Html.DisplayFor(modelItem => item.Person.FirstName)*@
        </td>
        <td>
            075864721   @*@Html.DisplayFor(modelItem => item.Residence1.ResName)*@
        </td>
        <td>
            17355612@tuks.co.za   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            09/09/1996  @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Post Graduate @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Erika @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        </tr>

    @* rECORD 3 *@
    <tr>

        <td>
            Tinyko @*@Html.DisplayFor(modelItem => item.AccessRight)*@
        </td>
        <td>
            Vilakazi @*@Html.DisplayFor(modelItem => item.Person.FirstName)*@
        </td>
        <td>
            083589745  @*@Html.DisplayFor(modelItem => item.Residence1.ResName)*@
        </td>
        <td>
            14992949@tuks.co.za   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            10/09/1993   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Undergraduate @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            TNerina @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
    </tr>

    @* rECORD 4 *@
    <tr>

        <td>
            Cailn @*@Html.DisplayFor(modelItem => item.AccessRight)*@
        </td>
        <td>
            Van Rensburg @*@Html.DisplayFor(modelItem => item.Person.FirstName)*@
        </td>
        <td>
           0742587456  @*@Html.DisplayFor(modelItem => item.Residence1.ResName)*@
        </td>
        <td>
            15511549@tuks.co.za   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            12/02/1996   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Post Graduate @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Tuks Naledi @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
    </tr>

    @* rECORD 5 *@
    <tr>

        <td>
            Simphwe @*@Html.DisplayFor(modelItem => item.AccessRight)*@
        </td>
        <td>
            Mholbo @*@Html.DisplayFor(modelItem => item.Person.FirstName)*@
        </td>
        <td>
            0864789456   @*@Html.DisplayFor(modelItem => item.Residence1.ResName)*@
        </td>
        <td>
            14935058@tuks.co.za   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            12/09/1953   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Undergraduate @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Madelief @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
    </tr>



</table>
<div class="form-inline" style="float:right; margin-bottom:10px; margin-top:10px;">

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default btn-round" data-toggle="modal" data-target="#Delete" style="color:#9b16d8">
                Delete
            </button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 ">
            <div>
                @Html.ActionLink("Return", "Index", "Home", new { @class = "btn btn-default btn-round", @style = "color:#9b16d8" })
            </div>
        </div>
    </div>
</div>

@* Error Modal *@

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><span class="badge badge-warning">Error</span></h4>
            </div>
            <div class="modal-body">
                No students match your search criteria.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Try Again</button>

            </div>
        </div>
    </div>
</div>