@* The Right-Side of navbar for the Volunteers who are logged In *@


@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>   }
}
else
{
    <ul class="nav navbar-nav navbar-right open">
        @* TO DO:
        
        1- Add Image of Messagebox & User Profile Image
        2- add drop down components: *REPORTS(ADMIN) * *Register Admin  *UserType(Admin) Log out*@
        @*<li>@Html.ActionLink("Message", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @*<li>@Html.ActionLink("User Profile", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@

        @*'@Url.Action("Index", "UserProfile")'*@

        <li><a href='@Url.Action("EditProfile", "Manage", new { id = (int)Session["User"] })'><i class="fa fa-user fa-fw"> </i></a></li>
        <li> 
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-bars fa-fw"></i>User<span class="fa fa-caret-down" title="Toggle dropdown menu"></span></a>
    <ul class="dropdown-menu">
        @*<li><a href="#"><i class="fa fa-folder-open-o fa-fw"></i> Reports</a></li>*@
        <li><a href='@Url.Action("ManageUser", "Manage")'><i class="fa fa-lock" aria-hidden="true"></i> Register Admin</a></li>
        <li><a href='@Url.Action( "Index", "UserTypes")'><i class="fa fa-user-plus fa-fw"></i> Assign User Types</a></li>
        <li class="divider"></li>
        <li><a href='@Url.Action( "SignOut", "Account")'><i class="fa fa-power-off"></i> Sign Out </a></li>
    </ul>
</li>
</ul>


}
<script src="https://use.fontawesome.com/dead28a296.js"></script>