@model TRWLASystemMaster.Models.DB.VolunteerType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h2>Details of a Volunteer Type</h2>
    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>


<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerType_Description)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VolunteerTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <button type="button" class="btn" onclick="location.href='@Url.Action("Index", "SYSUserProfiles")'">Back</button>

        @*<button class="btn"> @Html.ActionLink("Edit", "Edit", new { id = Model.StudentTypeID })</button>*@
    </div>
</div>