@model TRWLASystemMaster.Models.DB.Content

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h1>@Html.DisplayFor(model => model.Content_Name) Information</h1>

    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>

@if (TempData["notice"] != null)
{
    <h4>@TempData["notice"]</h4>
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Name:")
        </dt>

        <dd class="form-control" style="width:200px; height:auto; margin-bottom:10px;">
            @Html.DisplayFor(model => model.Content_Name)
        </dd>

        <dt>
            @Html.Label("Status:")
        </dt>

        <dd class="form-control" style="width:200px; height:32px; margin-bottom:10px;">
            @if (Model.Content_Status == 1)
            {
                <p>Locked</p>
            }
            @if (Model.Content_Status == 0)
            {
                <p>Unlocked</p>
            }

        </dd>
        <dt>
            @Html.Label("Description:")
        </dt>

        <dd class="form-control" style="width:200px; height:auto; margin-bottom:10px;">
            @Html.DisplayFor(model => model.Content_Description)
        </dd>
        <dt>
            @Html.Label("Download Content:")
        </dt>
        <dd>
            @using (Html.BeginForm("Download", "Contents", FormMethod.Get))
            {
                <button formtarget="_blank" data-toggle="tooltip" title="Download Content" type="submit" value="Download Content" class="btn" style="width:200px;"><i class="fa fa-arrow-down" aria-hidden="true"></i></button> }
        </dd>

    </dl>


</div>
<div class="form-inline" style="float:right; margin-bottom:20px; margin-top:10px;">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" >
            <div data-toggle="tooltip" title="Update">
                <button type="button" class="btn" onclick="location.href='@Url.Action("Edit", "Contents", new { id = Model.ContentID })'"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" data-toggle="tooltip" title="Delete">
            <button class="btn" data-toggle="modal" data-target="#Delete">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 " data-toggle="tooltip" title="Return to Content">
            <div>
                <button type="button" class="btn" onclick="location.href='@Url.Action("Index", "Contents")'"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete @Html.DisplayFor(model => model.Content_Name)</h4>
            </div>
            <div class="modal-body">
                Are you sure that you want to delete @Html.DisplayFor(model => model.Content_Name)'s Information off of the system?
            </div>
            <div class="modal-footer form-inline">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color form-group ">
                        <button type="submit" value="Delete" class="btn btn-default btn-simple form-group">Delete Content</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default btn-simple form-group" data-dismiss="modal">Cancel</button>
                    </div>
                }
                
                </div>
            </div>
        </div>
    </div>
