@model IEnumerable<TRWLASystemMaster.Models.Usertype.UserType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h2>User Type</h2>

</div>


@*<p>
    @Html.ActionLink("Create a New User Type", "Create")
</p>*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessRight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessRight)
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id=item.UserTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserTypeID })
        </td>
    </tr>
}

</table>

<div class="form-inline" style="float:right; margin-bottom:10px; margin-top:10px;">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                @Html.ActionLink("Add a new User Type", "Create", "VenueTypes", new { @class = "btn btn-round", @style = "color:#9b16d8" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                <button class="btn btn-round" style="color:#9b16d8">Update</button>
                @*@Html.ActionLink("Update", "Details", "VenueTypes", new { @class = "btn btn-round", @style = "color:#9b16d8" })*@
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                <button class="btn btn-round" style="color:#9b16d8">Delete</button>
                @*@Html.ActionLink("Delete", "Delete", new { @class = "btn  btn-round", @style = "color:#9b16d8" })*@
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                <button class="btn btn-round" style="color:#9b16d8">Return</button>
                @*@Html.ActionLink("Return", "Create", new { @class = "btn  btn-round", @style = "color:#9b16d8" })*@
            </div>
        </div>
    </div>

</div>
