@model TRWLASystemMaster.Models.DB.GuestSpeaker

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h1>@Html.DisplayFor(model => model.GuestSpeaker_Name)'s Information</h1>
    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>

@if (TempData["notice"] != null)
{
    <h4>@TempData["notice"]</h4>
}

<div>
    <dl class="dl-horizontal">
        <dt>
            Name:
        </dt>

        <dd class="form-control" style="width:200px; height:auto; margin-bottom:10px;">
            @Html.DisplayFor(model => model.GuestSpeaker_Name)
        </dd>
        <dt>
            Surname:
        </dt>
        <dd class="form-control" style="width:200px; height:auto; margin-bottom:10px;">
            @Html.DisplayFor(model => model.GuestSpeaker_Surname)
        </dd>
        <dt>
            Phone Number:
        </dt>
        <dd class="form-control" style="width:200px; height:auto; margin-bottom:10px;">
            @Html.DisplayFor(model => model.GuestSpeaker_Phone)
        </dd>
        <dt>
            Email:
        </dt>
        <dd class="form-control" style="width:200px; height:auto; margin-bottom:10px;">
            @Html.DisplayFor(model => model.GuestSpeaker_Email)
        </dd>
        <dt>
            Picture Link:
        </dt>
        <dd class="form-control" style="width:200px; height:auto; margin-bottom:10px;">
            @Html.DisplayFor(model => model.GuestSpeaker_PictureLink)
        </dd>
    </dl>
    <div style="background-image:url((@Html.DisplayFor(model => model.GuestSpeaker_PictureLink))" />
</div>

<div style="float:right; margin-bottom:20px; margin-top:10px;">
    <div class="form-inline">
        <div class="form-group">
            <button data-toggle="tooltip" title="Edit Guest Speaker" type="button" class="btn" onclick="location.href='@Url.Action("Edit", "Residences", new { id = Model.GuestSpeakerID })'">Update</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#Delete">
                Delete
            </button>
        </div>
        <div class="form-group">
            <button data-toggle="tooltip" title="Return to Guest Speaker's'" type="button" class="btn" onclick="location.href='@Url.Action("Index", "GuestSpeaker")'">Return</button>
        </div>
    </div>
</div>

<div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete @Html.DisplayFor(model => model.GuestSpeaker_Name)</h4>
            </div>
            <div class="modal-body">
                Are you sure that you want to delete @Html.DisplayFor(model => model.GuestSpeaker_Name)'s information off of the system?
            </div>
            <div class="modal-footer">
                <div class="form-inline">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color form-group">
                            <button type="submit" value="Delete" class="btn">Delete</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>

