@model IEnumerable<TRWLASystemMaster.Models.DB.UniqueCode>


@{
    ViewBag.Title = "NewUniCode";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<h2>NewUniCode</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stamptime)
        </th>
        <th></th>
    </tr>
    @Html.ActionLink("TRWLA", "AddCode", "UniqueCode")

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stamptime)
            </td>
            <td>

                @*<a href="@Url.Action("Edit", new { id=item.UserTypeID  })" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a> |

                <a href="@Url.Action("Details", new { id=item.UserTypeID  })" data-toggle="tooltip" title="Details"><i class="fa fa-info-circle" aria-hidden="true"></i></a> |

                <a href="@Url.Action("Delete", new { id=item.UserTypeID  })" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a> |*@


            </td>
        </tr>
    }

</table>


