@model TRWLASystemMaster.Models.DB.ComEngEvent

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h1>Update</h1>
    <div class="quote2form"></div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ComEngID)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="margin-bottom:10px;">
            @Html.Label("Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10 ">
                @Html.TextBoxFor(model => model.ComEng_Name, new { maxlength = 30, @class = "form-control form-control-danger" })
                @Html.ValidationMessageFor(model => model.ComEng_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Start Time:", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.ComEnge_StartTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                @Html.ValidationMessageFor(model => model.ComEnge_StartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("End Time:", new { @class = "control-label col-md-2"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.ComEng_EndTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                @Html.ValidationMessageFor(model => model.ComEng_EndTime, "", new { @class = "text-danger" })
            </div>
            </div>


            <div class="form-group">
                @Html.Label("Date", new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="width:auto;">
                    <div class="col-md-10 form-control">@ViewBag.Date</div>
                </div>
            </div>

        <div class="form-group">
            @Html.Label("    ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ComEng_Date, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.ComEng_Date, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                @Html.Label("Venue", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("VenueID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VenueID, "", new { @class = "text-danger" })
                    @Html.ActionLink("Add Venue", "Index", "Events", new { @style = "margin-top:10px; text-align:center; margin-left:25px;" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Content", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ContentID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ContentID, "", new { @class = "text-danger" })
                    <div style="margin-left:20px;">
                        @Html.ActionLink("Upload Content", "Create", "Contents")
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Theme", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ComEng_Theme, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ComEng_Theme, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.Label("Residence", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ResidenceID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ResidenceID, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.Label("Summary", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ComEng_Summary, new { maxlength = 100, @class = "form-control", @style = "border: 1px solid #E3E3E3;  color: #2c2c2c; width:280px;" })
                    @Html.ValidationMessageFor(model => model.ComEng_Summary, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Description", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ComEng_Description, new { maxlength = 300, @class = "form-control", @style = "border: 1px solid #E3E3E3;  color: #2c2c2c; width:280px; height:200px;" })
                    @Html.ValidationMessageFor(model => model.ComEng_Description, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

    <div class="modal fade" id="Create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Update Event</h4>
                </div>
                <div class="modal-body">
                    Are you sure that you want to update this event?
                </div>
                <div class="modal-footer form-inline">
                    <div class="form-actions no-color form-group">
                        <button type="submit" value="Create" class="btn">Confirm</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn" data-dismiss="modal">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="form-inline" style="float:right; margin-bottom:20px; margin-top:10px;">
    <div class="form-group">
        <div style="margin-right:5px;">
            <button class="btn btn-default" data-toggle="modal" data-target="#Create">
                Save
            </button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 ">
            <button type="button" class="btn" onclick="location.href='@Url.Action("Index", "TRWLASchedules")'"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        </div>
    </div>
</div>