@model IEnumerable<TRWLASystemMaster.Models.Usertype.VenueType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<h2>Venue Type</h2>

<p>
    @Html.ActionLink("Add a New Venue", "Create")
</p>


@* Search Button for VenueType Description'*@
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchStringVT")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id=item.VenueTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VenueTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VenueTypeID })
        </td>
    </tr>
}

</table>
