@model IEnumerable<TRWLASystemMaster.Models.DB.Venue>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}


<div class="jumbotron" style="margin-bottom:50px;">
    <h1>Venues</h1>
    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>

<script>
    function doNavigate() {
        window.location.href = document.getElementById("UrlList").value;
    };
</script>

<div class="row" @*id="showMe" style="display:none;*@>
    <div class="col-md-12">
        <div class="form-inline">
            <div class="form-group">
                <h2 style="z-index:100; position:relative; background-color:transparent;">Search Venues</h2>
                @using (Html.BeginForm())
                {
                    <div class="form-inline" style="margin-bottom:10px;">
                        <p data-toggle="tooltip" title="Search by name" class="form-group">
                            @Html.TextBox("searchString", "", new { placeholder = "Name of Venue", @class = "form-control", style = "width:100%;" })
                        </p>

                        <p class="form-group">
                            <button data-toggle="tooltip" title="Search" type="submit" value="Search" class="btn"><i class="fa fa-search" aria-hidden="true" style="color:black;"></i></button>
                        </p>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div>
                                    <button data-toggle="tooltip" title="View Venue Types" type="button" class="btn" onclick="location.href='@Url.Action("Index", "Venuetypes")'"><i class="fa fa-list-ol" aria-hidden="true" style="color:black;"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


   

    <table class="table">
        <tr>
            <th>
             Venue Name   @*@Html.DisplayNameFor(model => model.Venue_Name)*@
            </th>
            <th>
               Address @*@Html.DisplayNameFor(model => model.Address.)*@
            </th>
            <th>
                Description   @*@Html.DisplayNameFor(model => model.VenueType.VenueType_Description)*@
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Where(p => p.VenueID != 2))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreeNumber) @Html.DisplayFor(modelItem => item.StreetName), @Html.DisplayFor(modelItem => item.Suburb), @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueType.VenueType_Description)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id=item.VenueID })" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a> |

                    <a href="@Url.Action("Details", new { id=item.VenueID })" data-toggle="tooltip" title="Details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>



                </td>
            </tr>
        }

    </table>
    <div class="form-inline" style="float:right; margin-bottom:20px; margin-top:10px;">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div>
                    <button data-toggle="tooltip" title="Create a venue" type="button" class="btn" onclick="location.href='@Url.Action("Create", "Venues")'">Create a New Venue</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 ">
                <button data-toggle="tooltip" title="Return to Main Menu" type="button" class="btn" onclick="location.href='@Url.Action("Index", "TRWLASchedules")'">Return</button>
            </div>
        </div>
    </div>


  

