@model IEnumerable<TRWLASystemMaster.Models.Usertype.Venue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<h2>Venues</h2>

<p>
    @Html.ActionLink("Add a new Venue", "Create")
</p>

@* Search Button for Venue Name'*@
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchStringV")
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accessibility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.StreetNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueType.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accessibility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.StreetNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VenueType.Description)
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id=item.VenueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VenueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VenueID })
        </td>
    </tr>
}

</table>
