
@model TRWLASystemMaster.Models.ViewModel.UserDataView

@{
    //ViewBag.Title = "ManageUserPartial";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<h2>Manage Users </h2>

<div>
    <h1>List of Users</h1>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login ID</th>
                <th>Password</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>UserType</th>
                <th colspan="2">Role</th>

                <th>Security Answer</th>
                <th>Student Number</th>
                <th>Degree</th>
                <th>Year Of Study</th>
                <th>Res</th>
                <th>Email</th>
                <th>DoB</th>
                <th>Phone number</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          @foreach (var i in Model.UserProfile)
            {
                <tr>
                    <td> @Html.DisplayFor(m => i.SYSUserID)</td>
                    <td> @Html.DisplayFor(m => i.LoginName)</td>
                    <td> @Html.DisplayFor(m => i.Password)</td>
                    <td> @Html.DisplayFor(m => i.FirstName)</td>
                    <td> @Html.DisplayFor(m => i.LastName)</td>
                    <td> @Html.DisplayFor(m => i.UserTypeID)</td>

                    <td> @Html.DisplayFor(m => i.SecurityAnswerID)</td>
                    <td> @Html.DisplayFor(m => i.StudentNumber)</td>
                    <td> @Html.DisplayFor(m => i.Degree)</td>
                    <td> @Html.DisplayFor(m => i.YearOfStudy)
                    <td>

                    <td> @Html.DisplayFor(m => i.ResID)
                    <td>

                    <td> @Html.DisplayFor(m => i.Email)
                    <td>
                    <td> @Html.DisplayFor(m => i.DoB)
                    <td>
                    <td> @Html.DisplayFor(m => i.Phonenumber)
                    <td>

                    <td> @Html.DisplayFor(m => i.RoleName)</td>
                    <td> @Html.HiddenFor(m => i.LOOKUPRoleID)</td>
                    <td><a href="javascript:void(0)" class="lnkEdit">Edit</a></td>
                    <td><a href="javascript:void(0)" class="lnkDelete">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>