@model TRWLASystemMaster.Models.Usertype.Residence

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h2>Delete a Residence</h2>
</div>


<div>
    <h4>Residence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResType1.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResType1.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-round" style = "color:#9b16d8"  data-toggle="modal" data-target="#myModal1"  /> 
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>

<div class="form-inline" style="float:right; margin-bottom:10px; margin-top:10px;">
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div>
            @Html.ActionLink("Cancel", "Create", "VenueTypes", new { @class = "btn btn-default btn-round", @style = "color:#9b16d8" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div>
            @Html.ActionLink("Return", "Details", "VenueTypes", new { @class = "btn btn-default btn-round", @style = "color:#9b16d8" })
        </div>
    </div>
</div>
    </div>


<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are you Sure?</h4>
            </div>
            <div class="modal-body">
                Once this Residence is deleted it is unrecoverable.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Confirm</button>

            </div>
        </div>
    </div>
</div>