@model TRWLASystemMaster.Models.DB.Residence

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron" style="text-align:left; margin-bottom:100px;">
    <h1>@Html.DisplayFor(model => model.Res_Name) Details</h1>
    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Res Name:")
        </dt>

        <dd class="form-control" style="width:200px;  overflow-y:auto; margin-bottom:10px;">
            @Html.DisplayFor(model => model.Res_Name)
        </dd>
        <dt>
            @Html.Label("Number of Students:")
        </dt>
        <dd class="form-control" style="width:200px;  overflow-y:auto; margin-bottom:10px;">
            @ViewBag.Res
        </dd>
        </dl>

</div>

    <div style="float:right; margin-bottom:20px; margin-top:10px;">
        <div class="form-inline">
            <div class="form-group">
                <button data-toggle="tooltip" title="Edit Residence" type="button" class="btn" onclick="location.href='@Url.Action("Edit", "Residences", new { id = Model.ResID })'">Update</button>
            </div>
            <div class="form-group">
                <button data-toggle="tooltip" title="Delete Residence" type="button" class="btn btn-default" data-toggle="modal" data-target="#Delete">
                    Delete
                </button>
            </div>
            <div class="form-group">
                <button data-toggle="tooltip" title="Return to Residences" type="button" class="btn" onclick="location.href='@Url.Action("Index", "Residences")'">Return</button>
            </div>
        </div>
    </div>