@model IEnumerable<TRWLASystemMaster.Models.Usertype.Residence>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResType1.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResType1.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResID })
        </td>
    </tr>
}

</table>
