@model IEnumerable<TRWLASystemMaster.Models.DB.Residence>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}


<div class="jumbotron">
    <h1> Residences</h1>
    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>
@* Search Button for 'RES NAME'*@

@using (Html.BeginForm())
{
    <div class="form-inline" style="margin-bottom:10px; margin-top:-60px;">
        <p data-toggle="tooltip" title="Search by name" class="form-group">
            @Html.TextBox("searchString", "", new { placeholder = "Res Name", @class = "form-control", style = "width:100%;" })
        </p>

        <p class="form-group">
            <button data-toggle="tooltip" title="Search" type="submit" value="Search" class="btn"><i class="fa fa-search" aria-hidden="true" style="color:black;"></i></button>
        </p>
    </div>
}



<table class="table">
    <tr>
        <th>
            Res Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(p => p.ResID != 8))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Res_Name)
            </td>
            <td>
                <a href="@Url.Action("Details", new { id=item.ResID })" data-toggle="tooltip" title="Details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            </td>
        </tr>
    }

</table>

<div class="form-inline" style="float:right; margin-bottom:20px; margin-top:10px;">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                <button type="button" class="btn" onclick="location.href='@Url.Action("Create", "Residences")'"><i class="fa fa-plus" aria-hidden="true"></i></button>

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 ">
            <button data-toggle="tooltip" title="Return to Main Menu" type="button" class="btn" onclick="location.href='@Url.Action("Index", "TRWLASchedules")'"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        </div>
    </div>
</div>