@model IEnumerable<TRWLASystemMaster.Models.Usertype.Residence>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}


<div class="jumbotron">
    <h2>Residences</h2>

</div>



@*<p>
    @Html.ActionLink("Add a Residence", "Create")
</p>*@

@* Search Button for 'RES NAME'*@
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString",null, new { @style = "border-radius:4px; width:300px; color:black; border-color:white" })
        <input type="submit"  value="Search"  class = "btn btn-default btn-round" style = "color:#9b16d8"/>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResType1.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResType1.Description)
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id=item.ResID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResID })
        </td>
    </tr>
}

</table>

<div class="form-inline" style="float:right; margin-bottom:10px; margin-top:10px;">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                @Html.ActionLink("Add a new Residence", "Create", "VenueTypes", new { @class = "btn btn-default btn-round", @style = "color:#9b16d8" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                @Html.ActionLink("Update", "Details", "VenueTypes", new { @class = "btn btn-default btn-round", @style = "color:#9b16d8" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                <input type="submit" class="btn btn-round" style="color:#9b16d8" value="Delete" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                <input type="submit" class="btn btn-round" style="color:#9b16d8" value="Return" />
            </div>
        </div>
    </div>

</div>


@* Error Modal *@

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><span class="badge badge-warning">Error</span></h4>
            </div>
            <div class="modal-body">
                No Residences match your search criteria.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Try Again</button>

            </div>
        </div>
    </div>
</div>