@model IEnumerable<TRWLASystemMaster.Models.DB.SYSUserProfile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*VolunteerLoggedInPage.cshtml*@
<h2>User Portal</h2>





@using (Html.BeginForm())
{
    <div class="form-inline" style="margin-bottom:10px;">
        <p data-toggle="tooltip" title="Search by name" class="form-group">
            @Html.TextBox("searchString", "", new { placeholder = "Volunteer/Student", @class = "form-control", style = "width:100%;" })
        </p>

        <p class="form-group">
            <button data-toggle="tooltip" title="Search" type="submit" value="Search" class="btn"><i class="fa fa-search" aria-hidden="true" style="color:black;"></i></button>
        </p>
    </div>
}

<select data-toggle="tooltip" title="Filter Events" id="UrlList" onchange="doNavigate()" class="form-control" style="margin-bottom:20px; width:90%;">
    <option value="">Filter by...</option>
    <option value="@Url.Action("Index", "SYSUserProfiles", new { F = ViewBag.SurnameSortParm })'">Graduates</option>
    
</select>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Graduate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfStudy)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Residence.Res_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phonenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Graduate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOfStudy)
        </td>
            <td>
            @Html.DisplayFor(modelItem => item.Residence.Res_Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.UserType.Description)
        </td>
        <td>
            
            <a href="@Url.Action("Details", new { id=item.SYSUserProfileID })" data-toggle="tooltip" title="Details"><i class="fa fa-info-circle" aria-hidden="true"></i></a> 

          

          
        </td>
    </tr>
}

</table>
