@model IEnumerable<TRWLASystemMaster.Models.DB.SYSUserProfile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}
@*VolunteerLoggedInPage.cshtml*@
<div class="jumbotron">
    <h1>Students</h1>
    <div class="quoteform"></div>
    <div class="quote1form"></div>
    <div class="quote2form"></div>
</div>

@* Click on student details, takes user to student Dashboard for master data. *@
<script>
    function doNavigate() {
        window.location.href = document.getElementById("UrlList").value;
    };
</script>


@using (Html.BeginForm())
{
    <div class="form-inline" style="margin-bottom:10px;">
        <p data-toggle="tooltip" title="Search by name" class="form-group">
            @Html.TextBox("searchStrings", "", new { placeholder = "Student Name", @class = "form-control", style = "width:100%;" })
        </p>

        <p class="form-group">
            <button data-toggle="tooltip" title="Search" type="submit" value="Search" class="btn"><i class="fa fa-search" aria-hidden="true" style="color:black;"></i></button>
        </p>
    </div>
}

<h2>Active Students</h2>
<table class="table">
    <tr>
        <th>

            Student Number   @*@Html.DisplayNameFor(model => model.StudentNumber)*@
        </th>
        <th>
            Name  @*@Html.DisplayNameFor(model => model.FirstName)*@
        </th>
        <th>
            Surname   @*@Html.DisplayNameFor(model => model.LastName)*@
        <th>
            Phone Number
        </th>


        <th>
            Email Address
            @*@Html.DisplayNameFor(model => model.Phonenumber)*@
        </th>
        <th>
            Date of Birth


        </th>
        <th>
            Degree

        </th>
        <th>
            Year Of Study

        </th>
        <th>
            Res Name
            @*@Html.DisplayNameFor(model => model.YearOfStudy)*@
        </th>

        <th>
            User Type     @*@Html.DisplayNameFor(model => model.Residence.Res_Name)*@
        </th>


        <th></th>
    </tr>
    @foreach (var item in Model.Where(p => p.Graduate == null && p.UserTypeID == 1))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfStudy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Residence.Res_Name)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.UserType.Description)
            </td>
            <td>

                <a href="@Url.Action("Details", new { id=item.SYSUserProfileID })" data-toggle="tooltip" title="Details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>

            </td>
        </tr>
    }
</table>
<hr />

<!-- --> <h2>Graduated Students</h2>
<table class="table">
    <tr>
        <th>

            Student Number    @*@Html.DisplayNameFor(model => model.StudentNumber)*@
        </th>
        <th>
            First Name   @*@Html.DisplayNameFor(model => model.FirstName)*@
        </th>
        <th>
            Last Name   @*@Html.DisplayNameFor(model => model.LastName)*@


        </th>

        <th>
            Phone Number
        </th>
        <th>
            Email Address
        </th>
        <th>

            Phone number  @*@Html.DisplayNameFor(model => model.Phonenumber)*@



        </th>

        <th>

            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            Year Of Study  @*@Html.DisplayNameFor(model => model.YearOfStudy)*@
        </th>

        <th>
            Res Name   @*@Html.DisplayNameFor(model => model.Residence.Res_Name)*@


        </th>
        <th>
            User Type
        </th>


        <th></th>
    </tr>
    @foreach (var item in Model.Where(p => p.Graduate != null && p.UserTypeID == 1))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfStudy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Residence.Res_Name)
            </td>


            <td>


                @Html.DisplayFor(modelItem => item.UserType.Description)


            <td>

                <a href="@Url.Action("Details", new { id=item.SYSUserProfileID })" data-toggle="tooltip" title="Details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            </td>
        </tr>
    }
</table>
