@model IEnumerable<TRWLASystemMaster.Models.Volunteer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h2>Register Volunteers</h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.ActionLink("ForgotPassword", "ForgotPassword", "Account")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer_Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer_DoB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunteerType.VolunteerType_Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer_Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer_DoB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerType.VolunteerType_Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VolunteerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.VolunteerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VolunteerID })
            </td>
        </tr>
    }

</table>