@model IEnumerable<TRWLASystemMaster.Models.DB.Volunteer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div class="jumbotron">

    <h2> Volunteers - Home</h2>

</div>
<button type="button" class="btn" onclick="location.href='@Url.Action("Index", "VolunteerTypes")'">View Volunteer Types</button>
<hr />
<table class="table">
    <tr>
        <th>
       Name    @*@Html.DisplayNameFor(model => model.Volunteer_Name)*@
        </th>
        <th>
          Surname  @*@Html.DisplayNameFor(model => model.Volunteer_Surname)*@
        </th>
        <th>
         Phone Number   @*@Html.DisplayNameFor(model => model.Volunteer_Phone)*@
        </th>
        <th>
          DoB  @*@Html.DisplayNameFor(model => model.Volunteer_DoB)*@
        </th>
        <th>
          Active Status  @*@Html.DisplayNameFor(model => model.ActiveStatus)*@
        </th>
        <th>
            User Type   @*@Html.DisplayNameFor(model => model.UserType.Description)*@
        </th>
        <th>
            VolunteerType    @*@Html.DisplayNameFor(model => model.VolunteerType.VolunteerType_Description)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer_Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer_DoB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerType.VolunteerType_Description)
        </td>
        <td>
            @*<a href="@Url.Action("Edit", new { id=item.VolunteerID })" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>*@ 
            <a href="@Url.Action("Details", new { id=item.VolunteerID })" data-toggle="tooltip" title="Details"><i class="fa fa-info-circle" aria-hidden="true"></i></a> 
               @*@Html.ActionLink("Edit", "Edit", new { id=item.VolunteerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VolunteerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VolunteerID })*@
        </td>
    </tr>
}

</table>
