@model IEnumerable<TRWLASystemMaster.Models.Usertype.Volunteer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/VolunteerLoggedInPage.cshtml";
}

<div class="jumbotron">
    <h2>Volunteers</h2>
</div>

@*<p>
    @Html.ActionLink("Register a New Volunteer", "Create")
</p>*@


@using (Html.BeginForm())
{
    <p class="form-group">
        Find by name: <input style = "border-radius:4px; width:300px; color:black; border-color:white" />
        <input type="submit" value="Search" class="btn btn-default btn-round" style="color:#9b16d8" />
    </p>
}

<table class="table">
    <tr>
        <th>
           Name @*@Html.DisplayNameFor(model => model.AccessRight)*@
        </th>
        <th>
           Surnmae @*@Html.DisplayNameFor(model => model.Person.FirstName)*@
        </th>
        <th>
           Phone Number @*@Html.DisplayNameFor(model => model.Residence1.ResName)*@
        </th>
        <th>
         Email Address   @*@Html.DisplayNameFor(model => model.VolunteerType1.Description)*@
        </th>
        <th>
           Date of Birth   @*@Html.DisplayNameFor(model => model.VolunteerType1.Description)*@
        </th>
        <th>
            Volunteer Type   @*@Html.DisplayNameFor(model => model.VolunteerType1.Description)*@
        </th>
        <th>
            Residence   @*@Html.DisplayNameFor(model => model.VolunteerType1.Description)*@
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {*@
    <tr>
        <td>
           Cheryl @*@Html.DisplayFor(modelItem => item.AccessRight)*@
        </td>
        <td>
           Wyngarrd @*@Html.DisplayFor(modelItem => item.Person.FirstName)*@
        </td>
        <td>
         078475321   @*@Html.DisplayFor(modelItem => item.Residence1.ResName)*@
        </td>
        <td>
         cheryl@twrla.co.za   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
         10/09/1998   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
         Admin  @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
          Nerina  @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>

        <td>
            @*@Html.ActionLink("Details","Edit","Volunteers")*@   @*new { id=item.PersonID })*@ 
            @*@Html.ActionLink("Details", "Details", new { id=item.PersonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonID })*@
        </td>
    </tr>

    @* Record 2 *@
    <tr>
        <td>
            Sarah @*@Html.DisplayFor(modelItem => item.AccessRight)*@
        </td>
        <td>
            Lawler @*@Html.DisplayFor(modelItem => item.Person.FirstName)*@
        </td>
        <td>
            07894258963   @*@Html.DisplayFor(modelItem => item.Residence1.ResName)*@
        </td>
        <td>
            u1428963@twrla.co.za   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            10/09/1994  @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Facilitator   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Asterhof  @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>

        <td>
            @*@Html.ActionLink("Details","Edit","Volunteers")*@   @*new { id=item.PersonID })*@
            @*@Html.ActionLink("Details", "Details", new { id=item.PersonID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PersonID })*@
        </td>
    </tr>


    @* Record 3 *@
    <tr>
        <td>
            Mavius @*@Html.DisplayFor(modelItem => item.AccessRight)*@
        </td>
        <td>
            Khekna @*@Html.DisplayFor(modelItem => item.Person.FirstName)*@
        </td>
        <td>
            08745896   @*@Html.DisplayFor(modelItem => item.Residence1.ResName)*@
        </td>
        <td>
            u14896321@twrla.co.za   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            10/10/1996   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Facilitator   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
           Tuks Naledi  @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>

        <td>
            @*@Html.ActionLink("Details","Edit","Volunteers")*@   @*new { id=item.PersonID })*@
            @*@Html.ActionLink("Details", "Details", new { id=item.PersonID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PersonID })*@
        </td>
    </tr>


    @* Record 4 *@
    <tr>
        <td>
           Sultte @*@Html.DisplayFor(modelItem => item.AccessRight)*@
        </td>
        <td>
           Drawbridge @*@Html.DisplayFor(modelItem => item.Person.FirstName)*@
        </td>
        <td>
            0258747965   @*@Html.DisplayFor(modelItem => item.Residence1.ResName)*@
        </td>
        <td>
            u14578749@twrla.co.za   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            10/09/1992  @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Facilitator  @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
           Hatfield Studios @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>

        <td>
            @*@Html.ActionLink("Details","Edit","Volunteers")*@   @*new { id=item.PersonID })*@
            @*@Html.ActionLink("Details", "Details", new { id=item.PersonID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PersonID })*@
        </td>
    </tr>

    @* Record 5 *@
    <tr>
        <td>
            Suzane @*@Html.DisplayFor(modelItem => item.AccessRight)*@
        </td>
        <td>
            Helderblom @*@Html.DisplayFor(modelItem => item.Person.FirstName)*@
        </td>
        <td>
            0796874521  @*@Html.DisplayFor(modelItem => item.Residence1.ResName)*@
        </td>
        <td>
           u14287931@twrla.co.za   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            11/10/1998   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Admin   @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>
        <td>
            Lilium @*@Html.DisplayFor(modelItem => item.VolunteerType1.Description)*@
        </td>

        <td>
            @*@Html.ActionLink("Details","Edit","Volunteers")*@   @*new { id=item.PersonID })*@
            @*@Html.ActionLink("Details", "Details", new { id=item.PersonID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PersonID })*@
        </td>
    </tr>
@*}*@

</table>

<div class="form-inline" style="float:right; margin-bottom:10px; margin-top:10px;">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                @Html.ActionLink("Update", "Create", "VenueTypes", new { @class = "btn btn-default btn-round", @style = "color:#9b16d8" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default btn-round" data-toggle="modal" data-target="#Delete" style="color:#9b16d8">
                Delete
            </button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 ">
            <div>
                @Html.ActionLink("Return", "Index", "Home", new { @class = "btn btn-default btn-round", @style = "color:#9b16d8" })
            </div>
        </div>
    </div>
</div>